<header>
  <div class="nav-one">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Heritage</a></li>
        <li><a href="#">Official</a></li>
        <li>
          <a href="#"
            >Social<span class="hide">_</span>&<span class="hide">_</span
            >Sport</a
          >
        </li>
        <li><a href="#">Contact</a></li>
        <li>
          <a href="#">What's<span class="hide">_</span>New</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
