<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <!-- Google font Roboto -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <!-- Google font preconnect -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Newsreader&family=Raleway&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
    rel="stylesheet"
  />
  <title>Menstrie Community Website</title>
</head>

<header>
  <div class="nav-inactive">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/heritage">Heritage</a></li>
        <li><a href="#">Official</a></li>
        <li>
          <a href="#"
            >Social<span class="hide">_</span>&<span class="hide">_</span
            >Sport</a
          >
        </li>
        <li><a href="#">Contact</a></li>
        <li>
          <a href="#">What's<span class="hide">_</span>New</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
