<head>
  <!-- Icon library -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<body>
  <%- include ("../partials/header.ejs") %>

  <div class="top-img">
    <img src="/images/menstrie-games.jpg" alt="`Menstrie park from the air" />
  </div>
  <div class="top-heading scroll">
    <div class="grid-wrapper">
      <div class="grid-container">
        <div class="grid-item">
          <div class="icons">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </div>
        </div>
        <div class="grid-item"><h5 class="events">Events</h5></div>
        <div class="grid-item"></div>
      </div>
    </div>
  </div>
</body>
