<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Google font preconnect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Menstrie Community Website</title>
  </head>
  <body>
    <%- include ("../partials/header.ejs") %>

    <div class="top-img">
      <img src="/images/menstriecastle.jpg" alt="Menstrie Castle" />
    </div>

    <div class="top-heading">
      <h5>Welcome To Menstrie</h5>
    </div>

    <div class="text">
      <div class="sub-heading">
        <h5>Menstrie Community Resilience Group</h5>
      </div>

      <p>
        Please click
        <span> <a href="#"> here </a></span>for information regarding Menstrie
        Community Resilience Group (MCRG)
      </p>
    </div>

    <script src="rellax.min.js"></script>
    <script>
      var rellax = new Rellax(".rellax");
    </script>
  </body>
</html>
