<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Google font preconnect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Menstrie Community Website</title>
  </head>
  <body>
    <%- include ("../partials/header.ejs") %>

    <div class="top-img">
      <img src="/images/menstriecastle.jpg" alt="Menstrie Castle" />
    </div>

    <div class="top-heading scroll" data-rate="0.5">
      <h5>Welcome To Menstrie</h5>
    </div>

    <div class="text scroll" data-rate="-1.2">
      <div class="sub-heading">
        <h5>Menstrie Community Resilience Group</h5>
      </div>

      <p>
        Please click
        <span> <a href="#"> here </a></span>for information regarding Menstrie
        Community Resilience Group (MCRG)
      </p>
    </div>

    <div class="text text2 scroll" data-rate="-1.2">
      <div class="sub-heading">
        <h5>Menstrie Community Action Group</h5>
      </div>

      <p>
        <img class="int-logo" src="/images/mcag.png" alt="mcag logo" />
        Menstrie Community Action Group is a Community group that was set up in
        2018. Its aims are to help ensure that Menstrie is a vibrant, active
        community, to support the health and wellbeing of the village and
        improve the lives and opportunities of members of the community. <br />
        Menstrie Community Action Group works in partnership with the Community
        Council. The group's current campaign is to support the Community in
        considering options for the future of the Dumyat Centre. Click
        <span> <a href="#"> here </a></span>to find out more.
      </p>
    </div>
    <script>
      //   Add event listner
      window.addEventListener("scroll", function (e) {
        const target = document.querySelectorAll(".scroll");
        var index = 0,
          length = target.length;
        for (index; index < length; index++) {
          var pos = window.pageYOffset * target[index].dataset.rate;

          target[index].style.transform =
            "translate3d(0px, " + pos + "px, 0px)";
        }
      });
    </script>
  </body>
</html>
