<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Google font preconnect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Menstrie Community Website</title>
  </head>
  <body>
  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/heritage">Heritage</a></li>
        <li><a href="#">Official</a></li>
        <li>
          <a href="#"
            >Social<span class="hide">_</span>&<span class="hide">_</span
            >Sport</a
          >
        </li>
        <li><a href="#">Contact</a></li>
        <li>
          <a href="#">What's<span class="hide">_</span>New</a>
        </li>
      </ul>
    </nav>
  </div>

    <div class="top-img">
      <img src="/images/menstriecastle.jpg" alt="Menstrie Castle" />
    </div>

    <div class="top-heading scroll">
      <h5>Welcome To Menstrie</h5>
    </div>

    <div class="text text1 scroll" data-rate="-1">
      <div class="sub-heading">
        <h5>Menstrie Community Resilience Group</h5>
      </div>

      <p>
        Please click
        <span> <a href="#"> here </a></span>for information regarding Menstrie
        Community Resilience Group (MCRG)
      </p>
    </div>

    <div class="text scroll" data-rate="-1">
      <div class="sub-heading">
        <h5>Menstrie Community Action Group</h5>
      </div>

      <p>
        <img class="int-logo" src="/images/mcag.png" alt="mcag logo" />
        Menstrie Community Action Group is a Community group that was set up in
        2018. Its aims are to help ensure that Menstrie is a vibrant, active
        community, to support the health and wellbeing of the village and
        improve the lives and opportunities of members of the community. <br />
        Menstrie Community Action Group works in partnership with the Community
        Council. The group's current campaign is to support the Community in
        considering options for the future of the Dumyat Centre. Click
        <span> <a href="#"> here </a></span>to find out more.
      </p>
    </div>

    <div class="text scroll" data-rate="-1">
      <div class="sub-heading">
        <h5>Help Prevent Crime</h5>
      </div>

      <p>
        <img class="int-logo" src="/images/mcap.png" alt="mcag logo" />
        This Community Action Plan summarises community views & information
        about: • Menstrie - our community now • Our Vision for the future of
        Menstrie • Main strategies & priorities - the issues that matter most to
        the community • Our plan for priority projects and actions The plan is
        our guide for what we - as a community – will try to make happen over
        the next 5 years.
        <span> <a href="#"> Menstrie Community Action Plan </a></span>
      </p>
    </div>

    <div class="text scroll" data-rate="-1">
      <div class="sub-heading">
        <h5>Menstrie Community Action Plan</h5>
      </div>

      <p>
        <img class="int-logo" src="/images/crime-stoppers.png" alt="mcag logo" />
        To provide information in confidence, visit the <span> <a href="#">Crimestoppers web site</a>
        where you may fill in a special form on-line. Crimestoppers guarantee
        complete anonymity: No-one can find out who gives information about
        crime by this method. Or, contact Crimestoppers Scotland on 0800 555
        111. Due to the recent spate of crime in our village, please ensure all
        your property is secure. See this <span> <a href="#">document</a> from Police Scotland.
      </p>
    </div>

    <script>
      //   Add event listner
      window.addEventListener("scroll", function (e) {
        const target = document.querySelectorAll(".scroll");
        var index = 0,
          length = target.length;
        for (index; index < length; index++) {
          var pos = window.pageYOffset * target[index].dataset.rate;

          target[index].style.transform =
            "translate3d(0px, " + pos + "px, 0px)";
        }
      });
    </script>
  </body>
</html>
