<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Google font preconnect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Menstrie Community Website</title>
  </head>
  <body>
    <div class="nav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/oldAndNew">Old and New</a></li>
          <li><a href="#">Official</a></li>
          <li>
            <a href="#"
              >Social<span class="hide">_</span>&<span class="hide">_</span
              >Sport</a
            >
          </li>
          <li><a href="#">Contact</a></li>
          <li>
            <a href="#">What's<span class="hide">_</span>New</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="top-img">
      <img src="/images/tmpheaderimg.jpg" alt="Sunrise in Menstrie" />
    </div>

    <div class="top-heading scroll">
      <h5>
        Welcome To <br /><br /><br /><br /><br />
        Menstrie Community Council's Website
      </h5>
    </div>

    <div class="text text1 scroll" data-rate="-1">
      <p>
        <br>
        Menstrie is a small village of around three thousand people in
        Clackmannanshire below Dumyat Hill along the Hillfoots.
        <br /><br />
        You can contact us by email - menstriecommunity@gmail.com <br />
        Or via our Facebook groups
        <a href="" class="fa fa-facebook"></a>
      </p>
      <p>
        Community Notices -
        <a href="https://www.facebook.com/groups/1427283177371988/"
          >Click Here</a
        >
      </p>
      <p>
        Community Legends and Community -
        <a href="https://en-gb.facebook.com/groups/715385905236355/ "
          >Click Here</a
        >
      </p>
      <p>
        We run the following and are always on the look out for new councillors
        and volunteers: <br><br>
              <p class="indentText">Yearly Summer Gala event on the Dumyat Park</p>
              <p class="indentText">Duck Race on Menstrie Burn</p>
              <p class="indentText">Resilience Group</p>
              <p class="indentText">Community Woodlands and Jubilee Path</p>
              <p class="indentText">Castle Museum Keyholder and Maintenance Team</p>
              <p class="indentText">Christmas Lights</p>
              <p class="indentText">Community Garden and Stan's Gardening Club</p>
              <p class="indentText">Community Food Larder</p>
              <p class="indentText">Quarterly Litter Picks</p>
              <p class="indentText">Publish Local Magazine - Menstrie Matters</p>
              <p class="indentText">Administer EDF Burntfoot Microgrant Funding</p>
              <p class="indentText">Stakeholders on Clacks Joint Community Council Form, EDF Burnfoot Funding Panel and CSET Funding Panel</p>

      </p>
    <div class="bottom-img">
      <img src="/images/menstrieAir.jpg" alt="Sunrise in Menstrie" /><br><br>
    </div>


    </div>


    <script>
      //   Add event listner
      window.addEventListener('scroll', function (e) {
        const target = document.querySelectorAll('.scroll');
        var index = 0,
          length = target.length;
        for (index; index < length; index++) {
          var pos = window.pageYOffset * target[index].dataset.rate;

          target[index].style.transform =
            'translate3d(0px, ' + pos + 'px, 0px)';
        }
      });
    </script>
  </body>
</html>
